<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="row">
      <div class="col-6">
        <img src="task/fms-login.png" class="mx-4">
      </div>
      <div class="col-6">
        <div class="card1 ms-4">
          <div class="card3">
            <span class="text1 text-nowrap">سامانه مدیریت ناوگان (FMS)</span>
            <span>شهرداری شیراز</span>
          </div>
          <div class="card2">
            <input type="email" class="input" id="username" required placeholder="نام کاربری">
            <i class="fas fa-user-alt icon"></i>
            <input type="password" class="input" id="password" required placeholder="رمز عبور">
            <div class="row">
              <div class="col-6">
                <img src="task/captcha.png" onclick="return oc">
              </div>

              <div class="col-6"><input type="text" class="input w-100" placeholder="کد امنیتی"></div>
            </div>
          </div>

          <div class="card2">
            <button type="submit" class="btnLogin w-100" (click)="navigateToLogin()">ورود به سامانه</button>
            <button type="submit" class="btnLogin1 w-100">ورود با احراز هویت مرکزی (SSO)</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

