<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="header d-flex justify-content-between">
        <div class="logo ms-3">LOGO</div>
        <div class="m-3">
          <span>Our services</span>
          <a href="/zoomin" style="text-decoration: none;" class="get-started ms-3">Get Started</a>

        </div>
      </div>
      <div class="">
        <div class="d-flex">
          <img class="" src="zoominPic/Group4.webp">
          <span class="title1">The YouTube Certified</span>
        </div>
        <span class="d-flex justify-content-center title2">Network <span class="Powerful mx-3">for</span> content
        </span>
        <div class="d-flex mt-4">
          <span class="title2 title3">Creators</span>
          <span class="ms-5">An Official YouTube MCN for Content Growth, Monetization, and Global Reach for
            influencers and brands</span>
          <img class="img2" src="zoominPic/Group3.webp">
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="get-started ms-3">Get Started</button>
      </div>
    </div>
  </div>


  <div class="row card m-3">
    <div class="col">
      <div class="text1 d-flex justify-content-between">
        <span class="text2 m-3">Our Solutions</span>
        <span class="text3 m-3">Let us take care of the details, so you can<br> focus on what matters.</span>
      </div>
      <div class="d-flex flex-column align-items-start gap-4 align-self-stretch">
        <div class="d-flex align-items-center align-self-stretch gap-4">
          <div class="card1">
            <img src="zoominPic/a1.webp">
            <div class="txt">
              <span class="text1">Content Growth</span>
              <span class="text6">As an Official YouTube-Certified MCN, we empower creators with strategies for
                content growth, expert SEO, and ad
                management—driving reach and maximizing revenue.</span>
            </div>
          </div>
          <div class="card1">
            <img src="zoominPic/a6.webp">
            <div class="txt">
              <span class="text1">Monetization</span>
              <span class="text6">Boost your earnings with our advanced Content ID protection, upfront payments,
                and cryptocurrency withdrawal options.</span>
            </div>
          </div>
          <div class="card1">
            <img src="zoominPic/a7.webp">
            <div class="txt">
              <span class="text1">Global Reach</span>
              <span class="text6">Expand your audience and set trends worldwide with our support, helping you earn
                globally and connect with new</span>
            </div>
          </div>
        </div>

        <div class="card1 pt-0" style="flex-direction: unset;">
          <img class="m-3" src="zoominPic/a8.webp">
          <div class="d-flex flex-column justify-content-center gap-4">
            <span class="text1">Right Protection for Your Content</span>
            <span class="text6">Keep your brand and content safe with our all-in-one protection services. We
              offer
              strong copyright safeguards,
              reputation management, and legal support to ensure your creative work stays secure.</span>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="gallery-container">
    <div class="gallery1 m-3 d-flex">

      <div class="card9 m-3 p-2 d-flex justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
          <path
            d="M50.75 24.5V31.5C50.75 31.9641 50.5656 32.4093 50.2374 32.7374C49.9092 33.0656 49.4641 33.25 49 33.25H12.25V36.75H31.5C31.9641 36.75 32.4093 36.9344 32.7374 37.2626C33.0656 37.5907 33.25 38.0359 33.25 38.5V43.75C33.25 44.2141 33.0656 44.6592 32.7374 44.9874C32.4093 45.3156 31.9641 45.5 31.5 45.5H12.25V47.25C12.25 47.7141 12.0656 48.1592 11.7374 48.4874C11.4092 48.8156 10.9641 49 10.5 49C10.0359 49 9.59075 48.8156 9.26256 48.4874C8.93437 48.1592 8.75 47.7141 8.75 47.25V8.75C8.75 8.28587 8.93437 7.84075 9.26256 7.51256C9.59075 7.18437 10.0359 7 10.5 7C10.9641 7 11.4092 7.18437 11.7374 7.51256C12.0656 7.84075 12.25 8.28587 12.25 8.75V10.5H38.5C38.9641 10.5 39.4093 10.6844 39.7374 11.0126C40.0656 11.3408 40.25 11.7859 40.25 12.25V17.5C40.25 17.9641 40.0656 18.4092 39.7374 18.7374C39.4093 19.0656 38.9641 19.25 38.5 19.25H12.25V22.75H49C49.4641 22.75 49.9092 22.9344 50.2374 23.2626C50.5656 23.5908 50.75 24.0359 50.75 24.5Z"
            fill="#FF015D" />
        </svg>
        <span class="fs-3">Statistics</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
          <path
            d="M8.99994 35.9998C8.99994 36.5966 9.23699 37.1689 9.65895 37.5908C10.0809 38.0128 10.6532 38.2498 11.2499 38.2498H38.2499V56.2498C38.2496 56.6951 38.3814 57.1304 38.6286 57.5008C38.8758 57.8711 39.2273 58.1598 39.6387 58.3302C40.05 58.5007 40.5027 58.5452 40.9394 58.4583C41.3761 58.3713 41.7771 58.1567 42.0918 57.8417L62.3418 37.5917C62.551 37.3827 62.717 37.1346 62.8302 36.8614C62.9434 36.5883 63.0017 36.2955 63.0017 35.9998C63.0017 35.7041 62.9434 35.4113 62.8302 35.1382C62.717 34.8651 62.551 34.6169 62.3418 34.4079L42.0918 14.1579C41.7771 13.8429 41.3761 13.6283 40.9394 13.5414C40.5027 13.4544 40.05 13.499 39.6387 13.6694C39.2273 13.8399 38.8758 14.1285 38.6286 14.4989C38.3814 14.8692 38.2496 15.3046 38.2499 15.7498V33.7498H11.2499C10.6532 33.7498 10.0809 33.9869 9.65895 34.4088C9.23699 34.8308 8.99994 35.4031 8.99994 35.9998Z"
            fill="#404040" />
        </svg>
      </div>

      <div class="card10 m-3 d-flex justify-content-center align-items-center">
        <span class="fs-3 bold m-3">
          <span class="bold2">+100m</span>
          WatchTime LifeTime</span>
      </div>

      <div class="card11 m-3 d-flex justify-content-center align-items-center">
        <span class="fs-3 bold m-3">+7m Subscribers</span>
      </div>

      <div class="card12 m-3 d-flex justify-content-center align-items-center">
        <span class="fs-3 bold m-3">
          <span class="K90">+90K</span>
          Contents Uploaded</span>
      </div>
    </div>

  </div>


  <div class="gallery-container">
    <div class="gallery1 m-3 d-flex">

      <div class="card13 m-3 p-2 d-flex justify-content-center align-items-center">
        <span class="fs-3 m-3">
          <span class="bold2">+200K</span>
          Subscribers gaind Monthly </span>
      </div>

      <div class="card9 m-3 d-flex justify-content-center align-items-center">
        <span class="fs-3 m-3 orange">
          <span class="bold2 black">+3B</span>
          Views LifeTime </span>
      </div>

      <div class="card14 m-3 d-flex justify-content-center align-items-center">
        <span class="fs-3 m-3">
          <span class="bold2 black">+3M</span>
          WatchTime Monthly </span>
      </div>

      <div class="card13 m-3 p-2 d-flex justify-content-center align-items-center">
        <span class="fs-3 m-3">
          <span class="bold2 red">+90m</span>
          Views Monthly </span>
      </div>

      <div class="card15 m-3 d-flex justify-content-center align-items-center">
        <span class="fs-3 m-3">
          <span class="bold2">+70K</span>
          Videos daily Check for Strikes and Claims</span>
      </div>
    </div>

  </div>



  <div class="row card m-3">
    <div class="col">
      <div class="text1 d-flex justify-content-between">
        <span class="text2 m-3">Support All your needs</span>
        <span class="text3 m-3">Let us streamline your experience with <br> flexible payment plans, AI-driven
          <br>recommendations, and ironclad security</span>
      </div>

      <div class="d-flex justify-content-center align-items-center align-self-stretch gap-4">

        <div class="d-flex flex-column justify-content-center align-items-start gap-4 h-100">
          <div class="card16">
            <div class="text2" style="font-size: 45px;"> Secure Transactions</div>
          </div>
          <img class="rounded-5 w-100" src="zoominPic/a3.webp">
        </div>

        <div class="d-flex flex-column justify-content-center align-items-start gap-4 h-100">
          <div class="card17">
            <div class=" text2 m-3" style="color:#fff;font-size: 45px;"> Felixable <br> Payment</div>
          </div>
          <img class="rounded-5 w-100" src="zoominPic/a2.webp">
        </div>

        <div class="d-flex flex-column justify-content-center align-items-start gap-4 h-100">
          <img class="rounded-5 w-100" src="zoominPic/a9.webp">
          <div class="card18">
            <div class=" text2 m-3" style="color:#fff;font-size: 45px;"> AI-Powered <br> Insights</div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="row" style="padding: 30px;">
    <div class="col-6">
      <div class="d-flex flex-column gap-4">
        <span class="text7">Is Your Channel Eligible?</span>
        <span class="text8">We’re on the lookout for talented creators to join our network! Each application is
          carefully reviewed
          by our experts,
          who assess your channel’s metrics, growth trends, content quality, and copyright adherence.</span>
        <span class="text7" style="font-size: 28px;">MT Network requirements:</span>
        <div class="text8">
          <li> AdSense monetization activated </li>
          <li>Copyright compliance </li>
          <li>No active content restrictions </li>
          <li>Minimum 1,000 views in the past 30 days </li>
          <li>4+ published videos and at least 2,000 subscribers </li>
          <li>Following YouTube's rules and best practices</li>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img class="rounded-5 m-3" src="zoominPic/a4.webp">
      <img class="rounded-5 m-3" src="zoominPic/a5.webp">
    </div>
  </div>



  <div class="card m-3">
    <div class="row">
      <div class="col-6">
        <img class="rounded-5 m-3" src="zoominPic/a0.webp">
      </div>

      <div class="col-6">
        <div class="d-flex flex-column">
          <span class="fs-1 bold">Join us</span>
          <span class="text5">Ultimate YouTube Management Solution for YouTubers and Content Creators</span>

          <input class="forminput" id="name" formControlName="name" type="text" placeholder="Name" />

          <input class="forminput" id="email" formControlName="email" type="email" placeholder="Email" />

          <input class="forminput" id="youtube" formControlName="youtube" type="url"
            placeholder="YouTube channel link" />

          <input class="forminput" id="phone" formControlName="phone" type="tel" placeholder="phone number" />

          <button class="apply bold" type="submit" [disabled]="userForm.invalid">Apply</button>





        </div>
      </div>

    </div>
  </div>


  <div class="row card8">
    <div class="col-6">
      <div class="d-flex flex-column m-3">
        <span class="my-3">MasterTube</span>
        <span class="fs-2 bold my-3">JOIN OUR SOLUTIONS</span>
        <button class="btn2">
          <span class="bold m-3">START NOW</span>
        </button>
        <span class="my-3">© Mastertube 2024. All rights reserved Privacy Policy</span>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <div class="d-flex flex-column m-3">
            <span class="bold m-3">Barand title</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column m-3">
            <span class="bold m-3">Barand title</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column m-3">
            <span class="bold m-3">Barand title</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
            <span class="m-3">Subtitle</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>