<div class="container-fluid">
  <div class="container">


    <div class="row">
      <div class="col">
        <div class=" mt-5">
          <div class="d-flex justify-content-end align-items-center gap-5">
            <a href="/portfolio-about-me" class="text3" style="text-decoration: none;">Resume</a>
            <a href="portfolio-contact" class="btn1" style="text-decoration: none;">
              <button style="all: unset; cursor: pointer;">Contact</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-start align-items-start" style="overflow: hidden; height: 100vh;">
        <div class="position-absolute" style="z-index: 2;top: 70%;">
          <div pAnimateOnScroll enterClass="animate-fadeinleft1"
            class="rounded-2xl animate-duration-1000 animate-ease-in-out">
            <div class="d-inline-flex align-items-start gap-5">
              <div class="d-flex flex-column align-items-start">
                <span class="text2">Welcome</span>
                <span class="text3">Fast, secure Web & hosting with support that never leaves you hanging.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="position-absolute text-center" style="z-index: 2; top: 90%;">
          <div pAnimateOnScroll enterClass="animate-fadeinleft2"
            class="rounded-2xl animate-duration-1000 animate-ease-in-out">
            <div class="d-inline-flex align-items-center gap-5">
              <div class="d-flex flex-column align-items-start">
                <span class="text4 mt-5">Modern & versatile website examples</span>
                <span class="text5 mb-5">Fully developed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="row">
      <div class="col">
        <div class="d-flex flex-column justify-content-center align-items-start" style="margin-top: 10%;">

          <div pAnimateOnScroll enterClass="animate-fadeinleft3"
            class="d-flex gap-5 rounded-2xl animate-duration-1000 animate-ease-in-out">
            <a href="https://alasoltanzade.liara.run/r8pro" target="_blank">
              <img src="portfolioPic/r8pro.webp" class="imgs">
            </a>
            <a href="https://alasoltanzade.liara.run/omnia-page" target="_blank">
              <img src="portfolioPic/omnia.webp" class="imgs">
            </a>
            <a href="https://alasoltanzade.liara.run/totxt" target="_blank">
              <img src="portfolioPic/totxt.webp" class="imgs">
            </a>

          </div>

          <div pAnimateOnScroll enterClass="animate-fadeinleft3" style="margin-top: 5%;"
            class="d-flex gap-5 rounded-2xl animate-duration-1000 animate-ease-in-out">
            <a href="https://alasoltanzade.liara.run/zoomin" target="_blank">
              <img src="portfolioPic/zoomin.webp" class="imgs">
            </a>
            <a href="https://alasoltanzade.liara.run/webolution" target="_blank">
              <img src="portfolioPic/websolotion.webp" class="imgs">
            </a>
            <a href="https://alasoltanzade.liara.run/design" target="_blank">
              <img src="portfolioPic/design.webp" class="imgs">
            </a>
          </div>

          <div pAnimateOnScroll enterClass="animate-fadeinleft3" style="margin-top: 5%;"
            class="d-flex gap-5 rounded-2xl animate-duration-1000 animate-ease-in-out">
            <a href="https://alasoltanzade.liara.run/hi-remi" target="_blank">
              <img src="portfolioPic/hi remi.webp" class="imgs">
            </a>
            <a href="https://alasoltanzade.liara.run/mavi-host" target="_blank">
              <img src="portfolioPic/mavihost.webp" class="imgs">
            </a>
            <a href="https://alasoltanzade.liara.run/lean-academy" target="_blank">
              <img src="portfolioPic/tukey.webp" class="imgs">
            </a>
          </div>
        </div>

      </div>
    </div>




  </div>


  <div class="row">
    <div class="col">
      <div style="background: #818080;">
        <div class="d-flex align-items-start gap-5 justify-content-center py-5 mt-5">
          <div class="d-flex align-items-start gap-5">
            <div class="d-flex flex-column align-items-start gap-3">
              <span>Collaborations</span>
              <span style="font-weight: bold;">Interested in working with us?</span>
              <span>contact Alasoltanzade.net</span>
            </div>
            <div class="d-flex flex-column align-items-start gap-3">
              <span>Support and Contact:</span>
              <span><span style="font-weight: bold;">To contact us, create a support
                  request at</span> Alasoltanzade.net</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>