<div class="container-fluid">
  <div class="container">


    <div class="row">
      <div class="col">
        <div class=" mt-5">
          <div class="d-flex justify-content-end align-items-center gap-5">
            <a href="/portfolio-about-me" class="text3" style="text-decoration: none;">Resume</a>
            <a href="portfolio-contact" class="btn1" style="text-decoration: none;">
              <button style="all: unset; cursor: pointer;">Contact</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="d-inline-flex align-items-start gap-5" style="margin-top: 10%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4">SUMMERY</span>
            <span class="text3">Curious and solution-oriented Front-End Developer passionate about solving complex
              challenges through clean and
              maintainable code. Skilled in designing scalable web applications using Angular and modern development
              practices.
              Dedicated to continuous learning and technical growth.</span>
          </div>
        </div>



        <div class="d-inline-flex align-items-center gap-5" style="margin-top: 15%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4 my-5">PROFESSIONAL EXPERIENCE</span>
            <span class="text2">Volunteer Front-End Developer</span>
            <span class="text3">Bitok – Yazd University Event & IT Group | 2022 – 2023</span>
            <ul>
              <li class="text3">Developed and maintained interactive web interfaces for Bitok’s event management
                platform, enhancing user experience for
                over 100 students and staff.</li>
              <li class="text3">Built a responsive internal dashboard for organizing university tech events, reducing
                coordination and reporting time by
                over 40%.
              </li>
              <li class="text3">Implemented modular Angular components and optimized CSS for better performance across
                devices, resulting in a 25% boost
                in user engagement.</li>
              <li class="text3">Collaborated with back-end and content teams to integrate real-time authentication and
                registration features for
                campus-wide events.</li>
            </ul>
            <span class="text2">Front-End Developer</span>
            <span class="text3">Raadina 2023 – 2024</span>
            <ul>
              <li class="text3">Redesigned key sections of raadinahealth.com, including package listings, blog pages,
                and responsive layouts, leading to
                a 30% increase in average session duration and significantly improved user experience across devices.
              </li>
              <li class="text3">Built and maintained reusable components, accelerating new feature deployment by 20% and
                reducing code duplication. </li>
              <li class="text3">Designed and optimized modular front-end dashboards for project tracking, leading to a
                15% reduction in oversight errors
                and a 30% increase in sales through precise UI implementation and improved internal page performance.
              </li>
            </ul>


            <span class="text2">Front-End Developer (Angular)</span>
            <span class="text3">HyvaTech Solutions | 2024 – 2025</span>
            <ul>
              <li class="text3">Upgraded the front-end architecture to Angular 19 and adopted standalone components,
                reducing code complexity and
                improving build performance by 25%.
              </li>
              <li class="text3">using Integrated advanced charting libraries (ECharts, PrimeNG) for dynamic reporting
                features. </li>
              <li class="text3">Redesigned the company’s web and mobile interfaces using front-end best practices and UX
                principles, resulting in a 40%
                increase in user engagement and a 20% boost in conversion rates.
              </li>
            </ul>
          </div>
        </div>




        <div class="d-inline-flex align-items-center gap-5" style="margin-top: 15%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4 my-5">CORE COMPETENCIES</span>
            <span class="text2">Front-End Development</span>
            <span class="text3">Angular (v19), HTML, CSS, SCSS, JavaScript, TypeScript</span>

            <span class="text2">Frameworks</span>
            <span class="text3">RxJS, Bootstrap, PrimeNG</span>

            <span class="text2">Testing & Tools</span>
            <span class="text3">Docker, Git (Git-Flow)</span>
          </div>
        </div>


        <div class="d-inline-flex align-items-center gap-5" style="margin-top: 15%; margin-bottom: 15%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4 my-5">KEY PROJECTS & ACHIEVEMENTS</span>


            <a href="https://www.linkedin.com/company/hyvatech/" class="text2" style="text-decoration: none;">
              <button style="all: unset; cursor: pointer;">HyvaTech</button>
            </a>
            <div class="d-flex justify-content-between w-100">
              <span class="text3">Platform Redesign Maskan</span>
              <a href="https://git.hyvatech.com/maskan/maskan" class="text3" style="text-decoration: none;">
                <button style="all: unset; cursor: pointer;">GitLab Repo</button>
              </a>
            </div>
            <span class="text3"> Led the redesign of the main page site, improving mobile responsiveness and load
              speed.</span>


            <div class="d-flex justify-content-between w-100 mt-5">
              <span class="text3">Daadgam Platform</span>
              <a href="https://daadgam.com" class="text3" style="text-decoration: none;">
                <button style="all: unset; cursor: pointer;">daadgam.com</button>
              </a>
            </div>
            <span class="text3"> Built the website from scratch based on stakeholder requirements, delivering a fully
              responsive and scalable front-end
              that reduced initial user support inquiries by 25% .</span>

            <a href="https://www.linkedin.com/company/raadina-travel/" class="text2" style="text-decoration: none;">
              <button style="all: unset; cursor: pointer;">Raadina</button>
            </a>
            <div class="d-flex justify-content-between w-100">
              <span class="text3">Platform Redesign Raadina</span>
              <a href="https://raadinahealth.com" class="text3" style="text-decoration: none;">
                <button style="all: unset; cursor: pointer;">raadinahealth.com</button>
              </a>
            </div>
            <span class="text3"> Redesigned the website’s main landing page, enhancing mobile responsiveness and
              reducing load times by optimizing layout
              structure and front-end performance.</span>

          </div>
        </div>
      </div>
    </div>









  </div>



</div>