<div class="container-fluid">
  <div class="container">


    <div class="row">
      <div class="col">
        <div class=" mt-5">
          <div class="d-flex justify-content-end align-items-center gap-5">
            <a href="/portfolio-about-me" class="text3" style="text-decoration: none;">Resume</a>
            <a href="portfolio-contact" class="btn1" style="text-decoration: none;">
              <button style="all: unset; cursor: pointer;">Contact</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="d-inline-flex align-items-start gap-5" style="margin-top: 10%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4">SUMMERY</span>
            <span class="text3">Curious and solution-oriented Front-End Developer passionate about solving complex
              challenges through clean and
              maintainable code. Skilled in designing scalable web applications using Angular and modern development
              practices.
              Dedicated to continuous learning and technical growth.</span>
          </div>
        </div>



        <div class="d-inline-flex align-items-center gap-5" style="margin-top: 15%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4 my-5">PROFESSIONAL EXPERIENCE</span>
            <span class="text2">Volunteer Front-End Developer</span>
            <span class="text3">Yazd University IT Center | 2022 – 2023</span>
            <ul>
              <li class="text3">Designed and developed an internal dashboard used by over 150 university staff, reducing
                report generation time by 40%.</li>
              <li class="text3">Improved website responsiveness, leading to 25% higher engagement in student portals.
              </li>
              <li class="text3">Collaborated with a cross-functional team to implement an optimized login/authentication
                system.</li>
            </ul>
            <span class="text2">Front-End Developer (Angular)</span>
            <span class="text3">2023 – Present</span>
            <ul>
              <li class="text3">Architect and develop dynamic Angular applications, ensuring high performance and
                optimal user engagement.</li>
              <li class="text3">Utilize advanced design patterns to build modular, reusable components, enhancing code
                maintainability and scalability. </li>
              <li class="text3">Collaborated with a cross-functional team to implement an optimized login/authentication
                system.</li>
            </ul>
          </div>
        </div>




        <div class="d-inline-flex align-items-center gap-5" style="margin-top: 15%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4 my-5">CORE COMPETENCIES</span>
            <span class="text2">Front-End Development</span>
            <span class="text3">Angular (v19), HTML, CSS, SCSS, JavaScript, TypeScript</span>

            <span class="text2">Frameworks</span>
            <span class="text3">RxJS, Bootstrap, PrimeNG</span>

            <span class="text2">Testing & Tools</span>
            <span class="text3">Docker, Git (Git-Flow)</span>
          </div>
        </div>


        <div class="d-inline-flex align-items-center gap-5" style="margin-top: 15%; margin-bottom: 15%;">
          <div class="d-flex flex-column align-items-start">
            <span class="text4 my-5">KEY PROJECTS & ACHIEVEMENTS</span>


            <a href="https://www.linkedin.com/company/hyvatech/" class="text2" style="text-decoration: none;">
              <button style="all: unset; cursor: pointer;">HyvaTech</button>
            </a>
            <div class="d-flex justify-content-between w-100">
              <span class="text3">Platform Redesign Maskan</span>
              <a href="https://git.hyvatech.com/maskan/maskan" class="text3" style="text-decoration: none;">
                <button style="all: unset; cursor: pointer;">GitLab Repo</button>
              </a>
            </div>
            <span class="text3"> Led the redesign of the main page site, improving mobile responsiveness and load
              speed.</span>


            <a href="https://www.linkedin.com/company/raadina-travel/" class="text2" style="text-decoration: none;">
              <button style="all: unset; cursor: pointer;">Raadina</button>
            </a>
            <div class="d-flex justify-content-between w-100">
              <span class="text3">Project Management Dashboard R8PRO</span>
              <a href="https://github.com/alasoltanzade/Project-Angular/tree/main/src/component/r8pro" class="text3"
                style="text-decoration: none;">
                <button style="all: unset; cursor: pointer;">GitLab Repo</button>
              </a>
            </div>
            <span class="text3"> Developed a dynamic dashboard for tracking project progress, used by multiple teams
              across</span>

          </div>
        </div>
      </div>
    </div>









  </div>



</div>