<div class="container-fluid">
  <div class="position-relative w-100" style="overflow: hidden; height: 100vh;">
    <img src="designPic/pic1.webp" class="bg-img">

    <div class="content d-flex flex-column align-items-center justify-content-center gap-4">
      <img src="designPic/star.webp" alt="star">
      <span class="text1">Lorem ipsum odor amet</span>
      <span class="text2">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu nunc vel mus nisi suscipit scelerisque tempor
        maecenas.
      </span>
      <button class="btn1">TRY NOW</button>
    </div>



    <div class="d-flex justify-content-between position-absolute top-0 start-0 w-100 p-5">
      <span class="text1" style="font-size: 40.805px;">LOGO</span>
      <div class="d-flex align-items-center gap-5">
        <span class="text3">Lorem</span>
        <span class="text3">Lorem</span>
        <span class="text3">Lorem</span>
        <span class="text3">Lorem</span>

        <button class="btn2 mx-3">TRY NOW</button>
      </div>
    </div>




  </div>

  <div class="card1 position-absolute notshow" style="margin-top: -6%;">
    <div class="d-flex justify-content-center align-items-center gap-5">
      <div class="d-flex flex-column gap-4">
        <span class="text4">Lorem ipsum odor</span>
        <span class="text5">Lorem ipsum odor</span>
      </div>
      <div class="line"></div>
      <div class="d-flex flex-column gap-4">
        <span class="text4">Lorem ipsum odor</span>
        <span class="text5">Lorem ipsum odor</span>
      </div>
      <div class="line"></div>
      <div class="d-flex flex-column gap-4">
        <span class="text4">Lorem ipsum odor</span>
        <span class="text5">Lorem ipsum odor</span>
      </div>
    </div>
  </div>


  <div class="content d-flex flex-column align-items-center justify-content-center gap-4" style="margin-top: 10%;">
    <span class="text6">Lorem ipsum odor amet,</span>
    <span class="text1">Lorem ipsum odor amet</span>
    <div class="line1"></div>
    <span class="text2" style="font-size: 29.116px;">
      Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu nunc vel mus nisi suscipit scelerisque tempor
      maecenas. </span>
  </div>

  <div class="d-flex align-items-start gap-2" style="flex-shrink: 0;">
    <img src="designPic/pic4.webp" style="flex-shrink: 0;">
    <img src="designPic/pic2.webp" style="flex-shrink: 0;">
    <img src="designPic/pic3.webp" style="flex-shrink: 0;">
  </div>





  <div>
    <div class="d-flex align-items-center justify-content-between column marginY1">
      <span class="text1" style="margin-left: 10%;">Lorem ipsum odor amet</span>
      <img src="designPic/pic5.webp">
    </div>
    <div style="margin-left: 30%; margin-bottom: 5%;">
      <span class="text2" style="font-size: 29px; ">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu nunc <br> vel mus nisi suscipit scelerisque tempor
        maecenas. Ipsum nullam et <br> dignissim sodales interd</span>
    </div>
    <div class="line2" style="margin-left: 20%;"></div>
    <div class="d-flex" style="margin-left: 20%; gap: 150px;">
      <div class="d-flex flex-column gap-3">
        <span class="text7">30+</span>
        <span class="text8">Years of Experience</span>
      </div>
      <div class="d-flex flex-column gap-3">
        <span class="text7">86</span>
        <span class="text8">Awards</span>
      </div>
      <div class="d-flex flex-column gap-3">
        <span class="text7">254,267</span>
        <span class="text8">Projects</span>
      </div>
    </div>

    <div class="line2" style="margin-left: 20%;"></div>
    <div class="d-flex" style="margin-left: 50%;gap: 150px;">
      <div class="d-flex flex-column gap-3">
        <span class="text7">32,802</span>
        <span class="text8">Clients Served</span>
      </div>
      <div class="d-flex flex-column gap-3">
        <span class="text7">90%</span>
        <span class="text8">Client Satisfaction</span>
      </div>
    </div>
  </div>


  <div class="d-flex flex-column align-items-start justify-content-start gap-4" style="margin: 10%;">
    <span class="text6">Lorem ipsum odor amet,</span>
    <span class="text1">Lorem ipsum odor amet</span>
    <div class="line1"></div>
    <span class="text2" style="font-size: 29.116px; text-align: unset;">
      Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu nunc vel mus nisi suscipit scelerisque tempor
      maecenas. </span>
  </div>



  <div class="d-flex align-items-end justify-content-end gap-4" style="flex-shrink: 0;">
    <img src="designPic/pic6.webp" style="flex-shrink: 0;">
    <img src="designPic/pic7.webp" style="flex-shrink: 0;">
    <img src="designPic/pic8.webp" style="flex-shrink: 0;">
  </div>



  <div class="d-flex align-items-start justify-content-end gap-4 marginY" style="flex-shrink: 0;">
    <img src="designPic/pic9.webp" style="flex-shrink: 0;">
    <img src="designPic/pic10.webp" style="flex-shrink: 0;">
    <span class="text1" style="font-size: 60px;">Explore Our Past Projects</span>
  </div>


  <div class="d-flex align-items-start justify-content-between  gap-4" style="flex-shrink: 0;">
    <img src="designPic/pic13.webp" style="flex-shrink: 0; margin-top: 20%;">
    <img src="designPic/pic11.webp" style="flex-shrink: 0;">
    <img src="designPic/pic12.webp" style="flex-shrink: 0;">
  </div>


  <div class="d-flex align-items-center marginY gap-5">
    <div class="d-flex flex-column align-items-start justify-content-start gap-4">
      <span class="text6">Lorem ipsum odor amet,</span>
      <span class="text1">Lorem ipsum odor amet</span>
      <div class="line1"></div>
      <span class="text2" style="font-size: 29.116px; text-align: unset;">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu nunc vel mus nisi suscipit scelerisque tempor
        maecenas. </span>
    </div>
    <img src="designPic/pic14.webp" style="flex-shrink: 0;">
  </div>



  <div class="d-flex column align-items-center gap-5">
    <img src="designPic/pic14.webp" style="flex-shrink: 0;">
    <div class="d-flex flex-column align-items-start justify-content-start gap-4">
      <span class="text6">Lorem ipsum odor amet,</span>
      <span class="text1">Lorem ipsum odor amet</span>
      <div class="line1"></div>
      <span class="text2" style="font-size: 29.116px; text-align: unset;">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu nunc vel mus nisi suscipit scelerisque tempor
        maecenas. </span>
    </div>
  </div>



  <div class="foter">
    <div class="d-flex flex-column align-items-center justify-content-center gap-4">
      <span class="text6">Lorem ipsum odor amet,</span>
      <span class="text1" style="font-size: 59px;">Lorem ipsum</span>
      <div class="line1"></div>
      <div class="d-flex justify-content-between w-100">
        <span class="text9"> Lorem </span>
        <span class="text9"> Lorem </span>
        <span class="text9"> Lorem </span>
        <span class="text9"> Lorem </span>
      </div>

    </div>
  </div>

</div>