.btn1 {
  border-radius: 85px;
  background: #97DE40;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  color: #0A0A0A;

  &:hover {
    background: #7EC531;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn2 {
  border-radius: 85px;
  color: #0A0A0A;
  background: #FFF;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;

  &:hover {
    background: #F0F0F0;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn3 {
  font-size: 16.935px;
  border-radius: 67px;
  background: #FFF;
  display: flex;
  padding: 0px 18px;
  justify-content: center;
  align-items: center;
  gap: 7.056px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;

  &:hover {
    background: #F0F0F0;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }
}

.background1 {
  background: #F7F3EC;
}

.background2 {
  background: #FEFAF3;
}

.background3 {
  background: #0A0A0A;
}

.bold {
  font-weight: bold;
}

.img1 {
  margin-bottom: 14%;
}

.img2 {
  margin-top: 10%;
  margin-bottom: 2%;
}

.img3 {
  display: inline;
}

.text1 {
  margin-top: 6%;
  margin-left: 5%;
}

.text2 {
  color: #0A0A0A;
  font-family: "Edu TAS Beginner";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text3 {
  color: #0A0A0A;
  font-family: "Edu TAS Beginner";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card1 {
  border-radius: 3px;
  background: #97DE40;
  display: inline-flex;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20%;
}

.text4 {
  margin-left: 40%;
  margin-bottom: 10%;
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
}

.text9 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text10 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.card2 {
  display: inline-flex;
  padding: 0px 10px;
  align-items: center;
  gap: 36px;
  border-radius: 8px;
  background: #97DE40;
  transition: all 0.3s ease;

  &:hover {
    background: #7EC531;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.white {
  color: white;
}

.gray {
  color: gray;
}

.bgGreen {
  // border-radius: 50px;
  background: linear-gradient(to top, #97DE40 50%, transparent 50%);
}

.bgGreenDark {
  // border-radius: 50px;
  background: linear-gradient(to top, #57930e 50%, transparent 50%);
}

.bgGreen2 {
  background: linear-gradient(to top, #97DE40 25%, transparent 25%, to bottom, #97DE40 25%, transparent 25%);
}

.bgWhite {
  background: linear-gradient(to top, #ffffff 50%, transparent 50%);
}

.bgWhitelight {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.4) 50%, transparent 50%);
}

.fw1 {
  font-weight: 100;
}

.card3 {
  border: none;
  border-radius: 12px;
  background: #FFF;
}

.card4 {
  border-radius: 30px;
  background: #FFF;
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.card5 {
  border-radius: 30px;
  background: #0A0A0A;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  line-height: normal;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.card6 {
  border-radius: 30px;
  background: #97DE40;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  transition: all 0.3s ease;

  &:hover {
    background: #7EC531;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.black {
  color: black;
}

.card7 {
  margin-top: 20px;
  font-family: "DM Sans";
  font-size: 24px;
  border-radius: 30px;
  background: #97DE40;
  display: flex;
  width: 398px;
  height: 303px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.card8 {
  border-radius: 30px;
  background: #0A0A0A;
  color: #FFF;
  display: flex;
  padding: 10px 40px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.card9 {
  border-radius: 30px;
  background: #97DE40;
  color: #FFF;
  display: flex;
  padding: 20px 40px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  transition: all 0.3s ease;

  &:hover {
    background: #7EC531;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.card10 {
  border-radius: 30px;
  background: #FFF;
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  transition: all 0.3s ease;
  color: #0A0A0A;
  font-family: "DM Sans";
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.card11 {
  border-radius: 30px;
  background: #0A0A0A;
  color: #FFF;
  padding: 10px 40px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {

  .btn1,
  .btn2,
  .btn3 {
    padding: 8px 20px;
    font-size: 14px;
  }

  .card7 {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .card4,
  .card5,
  .card6,
  .card8,
  .card9,
  .card10 {
    padding: 20px;
  }

  .text1 {
    margin-top: 3%;
    margin-left: 2%;
  }

  .text2,
  .text3 {
    font-size: 24px;
  }

  .card1 {
    margin-left: 10%;
  }

  .text4 {
    margin-left: 20%;
    margin-bottom: 5%;
  }
}

@media (max-width: 425px) {

  .btn1,
  .btn2,
  .btn3 {
    padding: 6px 15px;
    font-size: 12px;
  }

  .card7 {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .card4,
  .card5,
  .card6,
  .card8,
  .card9,
  .card10 {
    padding: 15px;
  }

  .text1 {
    margin-top: 2%;
    margin-left: 1%;
  }

  .text2,
  .text3 {
    font-size: 20px;
  }

  .card1 {
    margin-left: 5%;
  }

  .text4 {
    margin-left: 10%;
    margin-bottom: 3%;
  }

  .row {
    flex-direction: column;
  }

  .col-4,
  .col-8,
  .col-12 {
    width: 100%;
  }



  .card4,
  .card5,
  .card6,
  .card7,
  .card8,
  .card9,
  .card10 {
    margin: 10px 0;
  }

  .img1,
  .img2 {
    margin: 10px 0;
  }

  .text1,
  .text2,
  .text3,
  .text4 {
    margin: 10px 0;
    text-align: center;
  }

  .card1,
  .card2,
  .card3 {
    margin: 10px auto;
  }
}


.fontMonaco {
  font-family: 'Inconsolata', monospace;
}

.fontdmSans {
  font-family: "DM Sans";
}


.circle {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  border-radius: 100px;
  opacity: 0.7;
  background: #FFF;
}

.circle:not(:first-child) {
  margin-left: -94px;
}

.text5 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text6 {
  color: #0A0A0A;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text7 {
  color: #0A0A0A;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

.text8 {
  color: #0A0A0A;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text11 {
  color: #0A0A0A;
  text-align: center;
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.text12 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.circle1 {
  display: flex;
  width: 75px;
  padding: 14.423px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14.423px;
  border-radius: 109.615px;
  background: #97DE40;

}

.circle2 {
  display: flex;
  padding: 5.769px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14.423px;
  align-self: stretch;
}


@media (max-width: 1246px) {
  .img1 {
    display: none;
  }

  .img4,
  .img5 {
    width: 100%;
  }
}




@media (max-width: 1345px) {
  .gapClass {
    gap: 20px;
  }
}

@media (max-width: 872px) {
  .img2 {
    display: none;
  }
}

@media (max-width: 991px) {
  .gapClass2 {
      gap: 20px;
    }
  .img4 {
    display: none;
  }
}

@media (max-width: 700px) {
  .card2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .starimg{
    display: none;
  }
  .card3{
    width: 100%;
  }
}